@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat");
}
@font-face {
  font-family: "PressStart";
  src: url("/font/PressStart2P");
}
